extends layout

block content   
	script.
		$(document).ready(function(){
			var ctable = $('#connections-table').dataTable( {  
				autoWidth: true,      
				searching: false,
				ordering: true,
				responsive: true,
				lengthChange: true,
				processing: true,
				stateSave: true,
				ajax: {
					url: '/ext/connections',
					dataSrc: function ( json ) {
						return json.data;
					}
				},
				columnDefs: [
					{
						"targets": 3,
						"data": 'country',
						"render": function ( data, type, row )
						{
							if (row.country_code == '') return data;
							return '<span class="flag-icon flag-icon-' + row.country_code + '"></span> ' + data;
						}
					}
				],
				columns: [
					{ data: 'address', width: '25%' },
					{ data: 'protocol', width: '25%' },
					{ data: 'version', width:'25%' },
					{ data: 'country', width: '25%'}
				]
			});
			
			$.ajax({
				url: "/ext/connections",
				method: 'post',
				dataType: 'json',
				success: function(peers)
				{
					var mapData = {};
					for ( var i=0;i<peers.data.length; i++ ) {
						mapData[peers.data[i].country_code.toUpperCase()] = 1.0 + (mapData[peers.data[i].country_code.toUpperCase()] || 0.0);
					}
					$('#worldmap').vectorMap({
						map: 'world_mill',
						backgroundColor: '#DDDDDD',
						series: {
							regions: [{
								values: mapData,
								scale: ['#CC93FF', '#44318D'],
								attribute: 'fill',
								normalizeFunction: 'polynomial'
							}]
						},
						onRegionTipShow: function(e, el, code){
							el.html(el.html()+' <b>'+(mapData[code]?mapData[code]:'0')+'</b>');
						}
					});				
				}
			});
		});
	#worldmap(style="width: 55%; height: 300px; margin-left: 22%; margin-bottom: 15%")
	.col-md-12(style="margin-bottom: 4%")
		.row.text-center(style='margin-bottom:15px;')
			i #{settings.locale.net_warning}
		.panel.panel-default
			.panel-heading
				strong #{settings.locale.net_connections}
			table#connections-table.table.table-bordered.table-striped
				thead
					tr
						th.text-center #{settings.locale.net_address}
						th.text-center #{settings.locale.net_protocol}
						th.text-center #{settings.locale.net_subversion}
						th.text-center #{settings.locale.net_country}
				tbody.text-center
